
<footer class="z-footer-bar">
	<nav>
		<a href="#" class="on" ui-sref="home" ui-sref-active="on" nav-transition="none">
			<i class="ion-android-home"></i>
			<span>首页</span>
		</a>
		<a href="#" ui-sref="question" ui-sref-active="on" nav-transition="none">
			<i class="ion-folder"></i>
			<span>题库</span>
		</a>
		<a href="#" ui-sref="ledge" ui-sref-active="on" nav-transition="none">
			<i class="ion-chatbox-working"></i>
			<span>知识点</span>
		</a>
		<a href="#" ui-sref="car" ui-sref-active="on" nav-transition="none">
			<i class="ion-filing"></i>
			<span>课程</span>
		</a>
		<a href="#" ui-sref="car" ui-sref-active="on" nav-transition="none">
			<i class="ion-android-person"></i>
			<span>我</span>
		</a>
		
	</nav>

</footer>