@import "reset.css";
.z-footer-bar {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
  background: #f4f4f4;
}
.z-footer-bar nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.z-footer-bar nav a {
  display: block;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  width: 0;
  text-align: center;
}
.z-footer-bar nav a i {
  font-size: 22px;
  color: #333;
}
.z-footer-bar nav a span {
  display: block;
  font-size: 10px;
  margin-top: -4px;
  color: #808080;
}
.z-footer-bar nav a.on i {
  color: orange;
}
.z-footer-bar nav a.on span {
  color: #1e2e45;
}
/**底部样式**/
.header-icon {
  border: none;
  background: #fff;
}
.header-icon i {
  font-size: 28px;
  line-height: 32px;
}
.z-index-page {
  padding-bottom: 44px;
}
.z-index-page .z-header-bar {
  width: 100%;
  overflow: hidden;
}
.z-index-page .z-header-bar .pic-list {
  position: static;
}
.z-index-page .z-header-bar a {
  display: block;
  width: 100%;
}
.z-index-page .z-header-bar a img {
  display: block;
  width: 100%;
}
.z-index-page .z-index-subject .subjectList {
  padding: 10px 0;
}
.z-index-page .z-index-subject .subjectList:nth-child(2) {
  background: #f4f4f4;
}
.z-index-page .z-index-subject .subjectList nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.z-index-page .z-index-subject .subjectList nav a {
  display: block;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
}
.z-index-page .z-index-subject .subjectList nav a img {
  display: block;
  width: 50%;
}
.z-index-page .z-index-subject .subjectList nav a span {
  display: block;
  margin-top: 5px;
  color: #747474;
  font-size: 14px;
}
.z-index-page .z-index-online .online-title {
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  color: #424242;
  margin-bottom: 0;
}
.z-index-page .z-index-online .onlineList {
  display: -webkit-box;
  -webkit-box-pack: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.z-index-page .z-index-online .onlineList .video {
  width: 50%;
  box-sizing: border-box;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) {
  padding-right: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) a {
  background: #fef0c9;
  margin-right: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) a span {
  color: #4e4228;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) {
  padding-left: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) a {
  background: #e2f5fc;
  margin-left: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) a span {
  color: #4d5c61;
}
.z-index-page .z-index-online .onlineList .video a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 40px;
  margin-top: 5px;
  padding: 20px 0;
}
.z-index-page .z-index-online .onlineList .video a span {
  display: block;
  text-align: center;
}
