@import "reset.css";
.z-footer-bar {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
  height: 44px;
  background: #f4f4f4;
}
.z-footer-bar nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.z-footer-bar nav a {
  display: block;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  width: 0;
  text-align: center;
}
.z-footer-bar nav a i {
  font-size: 22px;
  color: #333;
}
.z-footer-bar nav a span {
  display: block;
  font-size: 10px;
  margin-top: -4px;
  color: #808080;
}
.z-footer-bar nav a.on i {
  color: #ff930c;
}
.z-footer-bar nav a.on span {
  color: #ff930c;
}
/**底部样式**/
.header-icon {
  border: none;
  background: #fff;
}
.header-icon i {
  font-size: 28px;
  line-height: 32px;
}
.z-index-page {
  padding-bottom: 44px;
}
.z-index-page .z-header-bar {
  width: 100%;
  overflow: hidden;
}
.z-index-page .z-header-bar .pic-list {
  position: static;
}
.z-index-page .z-header-bar a {
  display: block;
  width: 100%;
}
.z-index-page .z-header-bar a img {
  display: block;
  width: 100%;
}
.z-index-page .z-index-subject .subjectList {
  padding: 10px 0;
}
.z-index-page .z-index-subject .subjectList:nth-child(2) {
  background: #f4f4f4;
}
.z-index-page .z-index-subject .subjectList nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.z-index-page .z-index-subject .subjectList nav a {
  display: block;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
}
.z-index-page .z-index-subject .subjectList nav a img {
  display: block;
  width: 50%;
}
.z-index-page .z-index-subject .subjectList nav a span {
  display: block;
  margin-top: 5px;
  color: #747474;
  font-size: 14px;
}
.z-index-page .z-index-online .online-title {
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  color: #424242;
  margin-bottom: 0;
}
.z-index-page .z-index-online .onlineList {
  display: -webkit-box;
  -webkit-box-pack: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.z-index-page .z-index-online .onlineList .video {
  width: 50%;
  box-sizing: border-box;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) {
  padding-right: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) a {
  background: #fef0c9;
  margin-right: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(1) a span {
  color: #4e4228;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) {
  padding-left: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) a {
  background: #e2f5fc;
  margin-left: 7px;
}
.z-index-page .z-index-online .onlineList .video:nth-child(2) a span {
  color: #4d5c61;
}
.z-index-page .z-index-online .onlineList .video a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 40px;
  margin-top: 5px;
  padding: 20px 0;
}
.z-index-page .z-index-online .onlineList .video a span {
  display: block;
  text-align: center;
}
.zhs-header {
  width: 100%;
  padding: 14px 0px;
  background: #f4f4f4;
  position: relative;
  border-top: 2px solid #dbdbdb;
  border-bottom: 1px solid #e8e8e8;
}
.zhs-header .zhs-search {
  width: 84%;
  height: 35px;
  border: 1px solid #bfbfbf;
  border-radius: 35px;
  padding-left: 14px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 5px;
}
.zhs-header .searchs {
  position: absolute;
  right: 45px;
  top: 25px;
  color: #929292;
  font-size: 20px;
}
.minfa {
  width: 100%;
  line-height: 35px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}
.zhs-ul {
  width: 92%;
  margin: 0 4%;
  padding-left: 4%;
  box-sizing: border-box;
}
.zhs-ul .zhs-li:last-child {
  border: none;
}
.zhs-ul .zhs-li {
  line-height: 45px;
  border-bottom: 1px solid #c5c5c5;
  font-size: 15px;
  list-style: initial;
}
.zhs-ul .zhs-li a {
  color: #000;
}
.zhs-ul .zhs-li b {
  font-weight: 400;
  margin-right: 10px;
}
.zhs-ul .zhs-li .clies {
  display: inline-block;
  line-height: 15px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.zhs-ul .zhs-li span {
  float: right;
  margin-right: 3px;
}
.fenye {
  width: 56%;
  margin: 0 22%;
  height: 26px;
  color: #494949;
}
.fenye .zhs_left,
.fenye .zhs_right,
.fenye ol li {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 23px;
  text-align: center;
  border-radius: 13px;
  border: 1px solid #dedede;
  float: left;
}
.fenye ol {
  float: left;
}
.fenye ol li {
  float: left;
}
.fenye ol .zhs_on {
  background: #ff9b00;
  color: #fff3e9;
}
.conts_wrap {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.conts_header {
  background: #f4f4f4;
  width: 100%;
}
.conts_header .conts_h3 {
  width: 80%;
  font-size: 15px;
  margin: 0 auto;
  padding: 25px 0;
  color: #6a6a6a;
}
.conts_header .conts_h3 b {
  font-weight: 400;
  margin-right: 10px;
}
.conts_main {
  width: 100%;
  height: 505px;
  -webkit-flex: 1;
}
.conts_main p {
  padding: 20px;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 16px;
  color: #9a9a9a;
}
.conts_footer {
  width: 100%;
  height: 54px;
  border-top: 1px solid #ccc;
  background: #f4f4f4;
}
.conts_footer .conts_biji {
  width: 100%;
  height: 54px;
  color: #ccc;
  text-align: center;
  margin: 0px;
}
.conts_footer .conts_biji a {
  display: block;
  width: 20px;
  height: 25px;
  color: #ccc;
  padding-top: 5px;
  margin: 0 auto;
  line-height: 0px;
  font-size: 18px;
}
.z-question-tab {
  width: 100%;
}
.z-question-tab .subjectList {
  border-bottom: 1px solid #ccc;
}
.z-question-tab .subjectList ul {
  padding: 10px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.z-question-tab .subjectList ul li {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  text-align: center;
}
.z-question-tab .subjectList ul li:first-child {
  -webkit-box-pack: start;
}
.z-question-tab .subjectList ul li:last-child {
  -webkit-box-pack: end;
}
.z-question-tab .subjectList ul li a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #737272;
  padding: 10px;
}
.z-question-tab .subjectList ul li a.on {
  background: #ff930c;
  color: #fff;
}
.z-question-tab .questionList {
  padding: 0 10px;
  box-sizing: border-box;
}
.z-question-tab .questionList ul {
  width: 100%;
}
.z-question-tab .questionList ul li {
  height: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.z-question-tab .questionList ul li p {
  -webkit-box-flex: 1;
  text-align: right;
}
.z-question-tab .questionList ul li p b {
  font-size: 12px;
  font-weight: normal;
}
.z-question-tab .questionList ul li p .count {
  margin-right: 10px;
}
.z-question-tab .questionList ul li p .exam_time {
  margin-right: 5px;
}
.form {
  height: 72px;
  width: 100%;
  background: #f4f4f4;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #EFEFEF;
  padding: 16px 5px;
}
.form .form-inp {
  display: -webkit-flex;
  height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 5%;
}
.form .form-inp input {
  -webkit-flex: 1;
  height: 33px;
  border-radius: 20px;
  padding-left: 10px;
}
.form .form-inp i {
  display: block;
  width: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
}
.judicial {
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
}
.teach {
  font-size: 14px;
}
.teach li p {
  line-height: 30px;
  height: 30px;
  background: #f4f4f4;
  border-bottom: 1px solid #EFEFEF;
  padding: 0 10px;
  margin: 0px;
}
.teach li p i {
  float: right;
}
.l-ola {
  background: #fff;
}
.l-ola li {
  border: none;
  padding: 0 10px 0 20px;
  background: #fff;
  line-height: 25px;
}
.l-ola li span {
  float: right;
}
.personal-content .personal-tou {
  width: 100%;
}
.personal-content .personal-cont {
  width: 100%;
}
.personal-content .personal-cont .list b {
  color: #ccc;
  font-size: 14px;
}
.personal-content .personal-cont .list .icon {
  color: #ccc;
  font-size: 20px;
}
.personal-content .back-button {
  width: 40%;
  height: 52px;
  background: #FC9500;
  border-radius: 30px;
  border: none;
  margin-left: 30%;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
}
.concrete-content {
  width: 100%;
  border-top: 1px solid #666;
  margin-top: 1px;
}
.concrete-content .content-line {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
}
.concrete-content .content-line .time {
  width: 22%;
  height: 100%;
  float: left;
  line-height: 45px;
  color: red;
  text-align: center;
  border-right: 1px solid #ccc;
}
.concrete-content .content-line .word {
  height: 100%;
  line-height: 45px;
}
.concrete-content .content-line .word a {
  color: #ccc;
}
.concretes-content {
  width: 100%;
}
.concretes-content h2 {
  width: 100%;
  height: 70px;
  background: #F4F4F4;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
}
.concretes-content p {
  padding: 0 20px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
}
.account-content .account-tou {
  width: 100%;
}
.account-content .account-cont {
  width: 100%;
}
.account-content .account-cont ul li {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}
.account-content .account-cont ul li div {
  float: left;
  margin-left: 10%;
}
.account-content .account-cont ul li p {
  text-align: center;
}
.account-content .account-cont ul li a {
  color: #000;
}
.account-content .account-cont ul li a i {
  float: right;
  margin-right: 20px;
}
.account-content .back-button {
  width: 40%;
  height: 52px;
  background: #FC9500;
  border-radius: 30px;
  border: none;
  margin-left: 30%;
  margin-top: 50px;
  font-size: 16px;
  color: #fff;
}
.mynotes-content h2 {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  padding: 0 35px;
  background: #ccc;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.mynotes-content h2 span {
  float: right;
}
.mynotes-content .mynotes-cont {
  width: 100%;
}
.mynotes-content .mynotes-cont .list a b {
  color: #000;
  font-size: 14px;
}
.mynotes-content .mynotes-cont .list a .icon {
  color: #ccc;
  font-size: 18px;
  color: #FBDDB4;
}
.mynotes-content .mynotes-cont .list a span {
  color: #FBDDB4;
}
.mynotes-content .mynotes-cont .list a:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 2.5px;
}
.mynotes-content .back-button {
  width: 40%;
  height: 52px;
  background: #FC9500;
  border-radius: 30px;
  border: none;
  margin-left: 30%;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
}
.order-content .order-list {
  width: 100%;
  height: 70px;
  /*  border-bottom: 1px solid #ccc; */
  border-top: 1px solid #ccc;
  padding: 0 20px;
  margin-top: 1px;
}
.order-content .order-list .list-up {
  width: 100%;
  line-height: 35px;
}
.order-content .order-list .list-up b {
  display: inline-block;
  color: #B1B1B1;
  font-size: 16px;
}
.order-content .order-list .list-up span {
  float: right;
  font-size: 16px;
}
.order-content .order-list .list-up span i {
  color: #E8D3B9;
}
.order-content .order-list .list-down {
  width: 100%;
  clear: both;
}
.order-content .order-list .list-down b {
  display: inline-block;
  color: #B1B1B1;
  font-size: 16px;
}
.order-content .order-list .list-down span {
  float: right;
  font-size: 16px;
}
.comment-content .comment-list {
  margin-top: 1px;
}
.comment-content .comment-list .list-up {
  width: 100%;
  height: 150px;
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px 20px;
}
.comment-content .comment-list .list-up dl dt {
  width: 18%;
  float: left;
  margin-right: 10px;
}
.comment-content .comment-list .list-up dl dt img {
  width: 100%;
  border-radius: 50%;
}
.comment-content .comment-list .list-up dl dd {
  margin-top: 10px;
}
.comment-content .comment-list .list-up dl dd h4 {
  font-size: 16px;
}
.comment-content .comment-list .list-up dl dd span {
  color: #ccc;
}
.comment-content .comment-list .list-up p {
  font-size: 16px;
  color: #A9A9A9;
}
.comment-content .comment-list .list-down {
  width: 100%;
  height: 200px;
  padding: 8px 20px;
}
.comment-content .comment-list .list-down p {
  font-size: 16px;
  line-height: 22px;
  color: #A9A9A9;
}
.comment-content .comment-list .list-down p b {
  color: #E6CDAA;
  font-weight: normal;
}
.comment-content .comment-list .list-down span {
  color: #ccc;
}
.comment-foot {
  width: 100%;
  height: 55px;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  bottom: 0;
}
.comment-foot div {
  width: 70%;
  float: left;
}
.comment-foot div input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 8px;
  margin-left: 5px;
  padding-left: 20px;
}
.comment-foot a {
  float: right;
  margin-right: 20px;
}
.comment-foot a i {
  font-size: 16px;
}
