.header-icon{
	border:none;
	background: #fff;
	i{
		font-size: 28px;
		line-height: 32px;
	}
}

.z-index-page{
	padding-bottom:44px;
	.z-header-bar{
		width:100%;
		overflow: hidden;
		.pic-list{
			position:static;
		}
			
		a{
			display: block;
			width:100%;
			img{
				display: block;
				width:100%;
			}
		}		
		
	}
	.z-index-subject{
		.subjectList{
			padding:10px 0;
			&:nth-child(2){
				background:#f4f4f4;
			}
			nav{
				display: -webkit-box;
				width:100%;
				height:100%;
				display:-webkit-box;
				-webkit-box-align:center;
				-webkit-box-pack:center;
				a{
					display: block;
					display: -webkit-box;
					-webkit-box-flex:1;
					-webkit-box-orient:vertical;
					-webkit-box-align:center;
					text-align: center;
					
					img{
						display: block;
						width:50%;
					}
					span{
						display: block;
						margin-top:5px;
						color:#747474;
						font-size: 14px;
					}
				}
			}
		}
	}
	.z-index-online{
		.online-title{
			padding:10px;
			box-sizing:border-box;
			font-size: 16px;
			text-align: center;
			color:#424242;
			margin-bottom: 0;
		}
		.onlineList{
			display: -webkit-box;
			-webkit-box-pack:center;
			padding:0 15px;
			box-sizing:border-box;
			.video{
				width:50%;
				box-sizing:border-box;
				&:nth-child(1){
					padding-right:7px;
					a{
						background: #fef0c9;
						margin-right:7px;
						span{
							color:#4e4228;
						}
					}
				}
				&:nth-child(2){
					padding-left:7px;
					a{
						background: #e2f5fc;
						margin-left:7px;
						span{
							color:#4d5c61;
						}
					}
				}
				a{
					width:100%;
					display: block;
					box-sizing:border-box;
					border-radius: 40px;
					margin-top:5px;
					padding:20px 0;
					span{
						display: block;
						text-align: center;
					}
				}
			}
		}
	}
	
}