
<ion-view title="题库">
	
	<ion-content scroll="false">
            <ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>
                <ion-slide ng-repeat="item in oneTitle" ion-slide-tab-label="{{item.title}}">
                    <div class="z-question-tab">
                        <section class="subjectList">
                            <ul>
                                <li ng-repeat="obj in item.two">
                                    <a href="javascript:;" data-id="{{obj.id}}" ng-click="getId($index)">
                                        {{obj.title}}
                                    </a>
                                </li>
                                
                            </ul>
                        </section>
                        
                    
                        <ion-scroll>
                            <div class="questionList" id="questionList">
                                <ul>
                                    <li ng-repeat="item in questionList">
                                        <time>· {{item.title}}</time>
                                        <p>
                                            <b>题数</b>
                                            <span class="count">{{item.count}}</span>
                                            <span class="exam_time">{{item.exam_time}}</span>
                                            <i class="ion-chevron-right"></i>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                        </ion-scroll>
                    </div>
                </ion-slide>
                
            </ion-slide-box>
    </ion-content>
	
	<footer-directive></footer-directive>
</ion-view>